
<h2> User Registration Template</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
      </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control"/>
       </div>
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" formControlName="Email" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
        <label for="Mobile">Mobile</label>
        <input type="Mobile" formControlName="Mobile" class="form-control"/>
      </div>
  </div>
    <div class="form-group">
        <label for="Age">Age</label>
        <input type="range" id="Age" name="Age min="20" max="60"/>
      </div>
     </div>
     <div class="form-group">
        <label for="State">State</label>
         <option value="Maharashtra">Maharashtra</option>
         <option value="Gujarat">Gujarat</option>
         <option value="Madhyapradesh">Madhyapradesh</option>
         <option value="Goa">Goa</option>
         <option value="Delhi">Delhi</option>
        <input type="State" formControlName="State" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
        <label for="Country">Country</label>
         <option value="AFRICA">AFRICA</option>
         <option value="INDIA">INDIA</option>
         <option value="ENLAND">ENLAND</option>
         <option value="SHRILANKA">SHRILANKA</option>
         <option value="U.S">U.S</option>
       <input type="Country" formControlName="Country" class="form-control"/>
      </div>
    </div>
     <div class="form-group">
        <label for="Address">Address</label>
        <input type="Address" formControlName="Address" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
        <label for="Tags">Tags</label>
        <input type="Tags" formControlName="Tags" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
        <label for="cricket">cricket</label>
        <input type="cricket" formControlName="cricket" class="form-control">
        <label for="Football>Football</label>
        <input type="Football" formControlName="Football" class="form-control"/>
        <label for="hockey">hockey</label>
        <input type="hockey" formControlName="hockey" class="form-control"/>        
      </div>
    </div>                                                                 
    <label><input type="checkbox">Subscribe to newsletter</label>                                                                
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Register</button>
       
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
</form>
