
<h2>User Profile Template</h2>


	
	<!-- Navbar items -->
	<div id="navlist">
		<a href="#">Home</a>
		<a href="#">AboutUs</a>
		<a href="#">Jobs/a>
    <a href="#">Clients/a>
		<a href="#">Employers</a>
		<a href="#">Contact Us</a>
      
      
		<!-- search bar Left align -->
  <h2>Profile</h2>
      <img src="C:\Users\INDIA\Desktop\Caroline Kassidy">
   <div class="Edit Photo">
	<form action="#"><input type="text" placeholder="Edit Photo" name="Edit Photo">
	 <button>
    <div class="Edit Photo"	style="font-size: 18px;">
		</button
    
    <div class="Edit Profile">
		<form action="#"><input type="text"placeholder="Edit Profile"name="I Agree">
		<button>
		<div class="Edit Profile"style="font-size: 18px;">
    </button>
    </div>
   <p>
      I'm Caroline Kassidy and I'm above 20 years 
     and you can send your emails to Caroline.Kassidy@publicis.com.
     I live in the state of Alaska.I like to play hockey,football
     and reading book.And please send me newsletter.Please reach out to me on my phone number.
    </p>
      
		<!-- search bar right align -->
		<div class="I Agree">
			<form action="#">
				<input type="text"
					placeholder="I Agree"
					name="I Agree">
				<button>
					<i class="I Agree"
						style="font-size: 18px;">
					</i>
				</button
  
	<p><a [routerLink]="['login']">Logout</a></p>

